body{
    background: #0A1931;
}

h1{
  color:#F8F8F8;
  font-size: 4rem;
}
#testimonials{
  margin-top: 50px;
  text-align: center;
}

h2{
  color:#F8F8F8;
  text-align: center;
}

.main_app{
  margin:10px;
  margin-top: 40px;
}
.signin_form{
  margin: 50px;
}
#who{
  font-size: 3rem;
}
#signinheader{
  font-size: 4rem;
  text-align: center;
}
.textheader{
  margin-bottom: 40px;
}
#signinButton{
  margin: 0 45%;
  width: 100px;
  height: 100px;
}
.bancologo{
  width: 400px;
  height: 400px;
}
.datejob{
  color: #F8F8F8;
  font-size: 25px;
}